<% content_for :title do %>
QiDao Risk Matrix | Editing <%= @network.name %><% end %>
<div class="clearfix"></div>

<%= render "form", network: @network %>

<br />

<div class="text-center">
  <%= link_to "Destroy this chain", @network, data: { "turbo-method": :delete }, class: "btn btn-outline-danger" %>
</div>
