<div class="clearfix"></div>
<h3>Editing network</h3>

<%= render "form", network: @network %>

<br />

<div class="text-center">
  <%= link_to "Destroy this chain", @network, method: :delete, class: "btn btn-outline-danger" %>
</div>
