<% content_for :title do %>
QiDao Risk Matrix | Editing <%= @network.name %><% end %>
<div class="clearfix"></div>

<%= render "form", network: @network %>

<br />

<div class="text-center">
  <%= link_to "Destroy this chain", token_path(@network), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
</div>
