<% content_for :title do %>
  QiDao Liquidity Matrix | New chain
<% end %>
<h1>New chain</h1>

<%= render "form", network: @network %>

<br>

<div>
  <%= link_to "Back to networks", networks_path %>
</div>
