<% content_for :title do %>
  QiDao Liquidity Matrix | New chain
<% end %>
<div class="clearfix"></div>
<h3>New chain</h3>

<%= render "form", network: @network %>

<div>
  <%= link_to "Back to networks", networks_path %>
</div>
