<% content_for :title do %>
QiDao Liquidity Matrix | Accepted MAI collateral
<% end %>
<% content_for :description do %>
<meta name="description" content="QiDao Liquidity Matrix, providing risk assessments considering market, counter-party and smart contract risks for collaterals backing the MAI stablecoin.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://riskmanagement.qidao.community">
<meta property="og:title" content="QiDao Liquidity Matrix | Accepted MAI collateral">
<meta property="og:description" content="QiDao Liquidity Matrix, providing risk assessments considering market, counter-party and smart contract risks for collaterals backing the MAI stablecoin.">
<meta property=“og:image” content=“https://raw.githubusercontent.com/spicy-muaddib/qidao_liquidity_matrix/main/qidao_liquidity_matrix.png”>
<meta name=“twitter:card” content=“summary”>
<meta name="twitter:site" content="@qidaoprotocol">
<meta name=“twitter:title” content=“QiDao Liquidity Matrix | Accepted MAI collateral“>
<meta name=“twitter:description” content=“QiDao Liquidity Matrix, providing risk assessments considering market, counter-party and smart contract risks for collaterals backing the MAI stablecoin.”>
<meta name=“twitter:creator” content=“@geekvine”>
<meta name=“twitter:image” content=“https://raw.githubusercontent.com/spicy-muaddib/qidao_liquidity_matrix/main/qidao_liquidity_matrix.png”>
<% end %>
<div class="clearfix"></div>
<%= render partial: "list", locals: { tokens: @tokens } %>
<% if user_signed_in? && current_user.admin? %>
  <div class="float-lg-end d-none d-lg-block">
    <%= form_with url: import_tokens_path, method: :post do |form| %>
      <%= form.file_field :file, class: "form-control-sm", accept: ".csv" %>
      <%= form.button "Import" %>
    <% end %>
  </div>
<% end %>
