<% content_for :title do %>
Mai Watch | Vault Assessments<% end %>
<% content_for :description do %>
<meta name="description" content="Mai Watch, providing risk assessments considering market, counter-party and smart contract risks for collaterals backing the MAI stablecoin.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mai.watch">
    <meta property="og:title" content="Mai Watch | Vault Assessments">
    <meta property="og:description" content="Mai Watch, providing risk assessments considering market, counter-party and smart contract risks for collaterals backing the MAI stablecoin.">
    <meta property=“og:image” content=“https://i.imgur.com/IJNSl9P.png”>
    <meta name=“twitter:card” content=“summary”>
    <meta name="twitter:site" content="@qidaoprotocol">
    <meta name=“twitter:title” content=“Mai Watch | Vault Assessments“>
    <meta name=“twitter:description” content=“Mai Watch, providing risk assessments considering market, counter-party and smart contract risks for collaterals backing the MAI stablecoin.”>
    <meta name=“twitter:creator” content=“qidaorisk”>
    <meta name=“twitter:image” content=“https://i.imgur.com/IJNSl9P.png”><% end %>
<div class="clearfix"></div>
<%= render partial: "list", locals: { tokens: @tokens } %>
