<% content_for :title do %>
  QiDao Liquidity Matrix
<% end %>
<div class="clearfix"></div>
<%= render partial: "list", locals: { tokens: @tokens } %>
<% if user_signed_in? && current_user.admin? %>
  <div class="float-lg-end d-none d-lg-block">
    <%= form_with url: import_tokens_path, method: :post do |form| %>
      <%= form.file_field :file, class: "form-control-sm", accept: ".csv" %>
      <%= form.button "Import" %>
    <% end %>
  </div>
<% end %>
