<% content_for :title do %>
  QiDao Liquidity Matrix | New token
<% end %>
<div class="clearfix"></div>
<h3>New token</h3>

<%= render "form", token: @token %>

<br>

<div>
  <%= link_to "Back to tokens", tokens_path %>
</div>
