<p style="color: green"><%= notice %></p>

<%= render "rubric", token: @token %>

<div class="text-center">
  <%= link_to "Edit this token", edit_token_path(@token), class: "btn btn-outline-primary" %> |
  <%= link_to "Destroy this token", @token, method: :delete, class: "btn btn-outline-danger" %>
</div>
<div class="clearfix"></div>
<br />
