<div class="clearfix"></div>
<div class="info text-center">
  <div class="not-found">
    5
    <image src="https://mai-universe.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F8e4f1353-986d-4bd2-bf9f-3af9ca66502c%2FGroup_1_16.svg?table=block&id=e55bc607-6d87-4f5c-a151-25019e233d7c&spaceId=ee0afcd0-179b-4a92-ad82-aa60c4dc6568&userId=&cache=v2" alt="QiDao" />
    <image src="https://mai-universe.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F8e4f1353-986d-4bd2-bf9f-3af9ca66502c%2FGroup_1_16.svg?table=block&id=e55bc607-6d87-4f5c-a151-25019e233d7c&spaceId=ee0afcd0-179b-4a92-ad82-aa60c4dc6568&userId=&cache=v2" alt="QiDao" />
  </div>
  <p>Looks like Lao made a mistake. It happens. Even mythical defi figures make mistakes sometimes. <%= link_to "Go back home.", root_url, title: "Go home" %></p>
</div>
